body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Orbitron', sans-serif;
}

h2 {
    font-family: 'Orbitron', sans-serif;
}

h3 {
    font-family: 'Orbitron', sans-serif;
}

h4 {
    font-family: 'Orbitron', sans-serif;
}

h5 {
    font-family: 'Orbitron', sans-serif;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}



li {
    list-style: none;
    padding: none;
}

li img {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #ffff00;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c5c804;
}

::-webkit-scrollbar-thumb:active {
    background: #8a8d02;
}

::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
    background: #000000;
}

::-webkit-scrollbar-track:active {
    background: #121212;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


#gate {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: white;

}


#btnList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

#btnList button {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 100% 100%, 100% 100%, 8% 100%, 0 70%);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 700;
    border-right: solid 5px rgb(19, 30, 182);
    min-width: 300px;
    height: 75px;
    line-height: 75px;
    background-color: yellow;
    font-family: 'Orbitron', sans-serif;
    transition: all 0.1s ease-in-out;
}

#btnList button:disabled {
    border-right: solid 5px rgb(69, 57, 57);
    background-color: rgba(255, 255, 0, 0.498);
}

#btnList button:hover {
    border-right: solid 5px rgb(182, 19, 19);
    transform: translateY(-5px);
    border-bottom: solid 5px rgb(182, 19, 19);
}

#btnList button:disabled:hover {
    border-right: solid 5px rgb(69, 57, 57);
    transform: translateY(0px);
    border-bottom: none;
}



#mainDev {
    display: none;
    flex-direction: column;
    width: 100vw;
    background-image: url('../img/background.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}


header {
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.89);
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    border-bottom: solid 5px yellow;
}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5vh;
}

@media screen and (max-width: 349px) {
    .header {
        margin-top: 1vh;
    }
}



header h3 {

    text-align: center;
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: yellow;
    color: #000;
    clip-path: polygon(0px 0px,
            0px 0px,
            0px 0px,
            0 0px,
            100% 0,
            100% 0px,
            calc(100% - 15px) calc(100% - 10px),
            calc(80% - 10px) calc(100% - 10px),
            calc(80% - 15px) 100%,
            80px calc(100% - 0px),
            65px calc(100% - 15px),
            0% calc(100% - 15px));
    padding: 1rem;
    -webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

nav a img {
    width: 50px;
    height: 50px;
}


main {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

#infoCard {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    -webkit-animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#diplomes {
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);
    background-color: yellow;


}

#parcourPro {
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);
    background-color: yellow;

}

#parcourPro ol {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.blueCard {
    transition: all 0.1s ease-in-out;
    border-right: solid 5px rgb(19, 30, 182);
    width: 300px;
    height: 400px;
}

.blueCard:hover {
    border-right: solid 5px rgb(182, 19, 19);
    transform: translateY(-5px);
    border-bottom: solid 5px rgb(182, 19, 19);
}

#portfolio {
    clip-path: polygon(67% 0, 100% 2%, 100% 100%, 15% 100%, 0 100%, 0 0);
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.925);
    color: black;
    text-align: center;
}

#portfolio h3 {
    color: white;
}

#portfolio::before {
    content: "";
    display: block;
    position: relative;

    height: 24px;
    width: 100vw;
    background-color: yellow;
    clip-path: inherit;
}

#portfolio::after {
    content: "";
    display: block;
    position: relative;

    height: 24px;
    width: 100vw;
    background-color: yellow;
    clip-path: inherit;
}

#technoList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#technoList div {
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);
    background-color: yellow;
    padding: 2rem;
    border-right: solid 5px rgb(182, 19, 19);
    transition: all 0.1s ease-in-out;
}

#technoList div:hover {
    border-right: solid 5px rgb(19, 30, 182);
    transform: translateY(-5px);
    border-bottom: solid 5px rgb(19, 30, 182);
}

.splitPorto {
    margin-top: 2rem;
    height: 8vh;
    text-align: center;
    clip-path: polygon(0px 25px,
            26px 0px,
            calc(60% - 25px) 0px,
            60% 25px,
            100% 25px,
            100% calc(100% - 10px),
            calc(100% - 15px) calc(100% - 10px),
            calc(80% - 10px) calc(100% - 10px),
            calc(80% - 15px) 100%,
            80px calc(100% - 0px),
            65px calc(100% - 15px),
            0% calc(100% - 15px));
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}

.splitPorto h3 {
    color: black !important;
}

#portfolioCard {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.card {
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);
    background-color: yellow;
    width: 300px;
    max-width: 300px;
    padding: 10px;
    height: 470px;
    border-right: solid 5px rgba(88, 88, 88, 0.495);
    transition: all 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card:hover {
    transform: translateY(-5px);
    border-bottom: solid 5px rgb(88, 88, 88, 0.495);
}

.card p img {
    width: 16px;
    height: 16px;
}

.card button {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 95% 100%, 95% 90%, 100% 100%, 100% 100%, 8% 100%, 0 70%);
    background-color: black;
    color: yellow;
    font-size: 24px;
    padding: 4px;
    transition: 0.1s ease-in-out;
}

.card button:hover {
    transform: translateY(-5px);
    border-bottom: solid 5px black;
    cursor: pointer;
}

.screenCard {
    width: 280px;
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);

    border: inset 5px rgba(0, 0, 0, 0.539);
}

#contact {
    clip-path: polygon(84% 0, 100% 10%, 100% 100%, 15% 100%, 0 91%, 0 0);
    background-color: yellow;
    color: black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 4rem;
    border-right: solid 5px rgb(0, 0, 0);
    transition: all 0.1s ease-in-out;
}

#contact p {
    padding: 8px;
}

#contact button {
    background-color: black;
    color: yellow;
    font-size: 24px;
    padding: 4px;
    margin: 10px;
    transition: 0.1s ease-in-out;
}

#contact button:hover {
    transform: translateY(-5px);
    border-bottom: solid 5px black;
    cursor: pointer;
}

#contact iframe {
    width: 400px;
    height: 400px;

}

#contact:hover {
    border-right: solid 5px rgb(0, 0, 0);
    transform: translateY(-5px);
    border-bottom: solid 5px rgb(0, 0, 0);

}

footer {
    height: 5vh;
    background-color: black;
}


.flicker {
    -webkit-animation: flicker-in-1 2s linear both;
    animation: flicker-in-1 2s linear both;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide{
    -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-16 1:37:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-1
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flicker-in-1 {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0;
    }

    10.1% {
        opacity: 1;
    }

    10.2% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
    }

    45% {
        opacity: 0;
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
    }

    57% {
        opacity: 0;
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
    }

    77% {
        opacity: 0;
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
    }

    86% {
        opacity: 0;
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

@-webkit-keyframes scale-in-ver-bottom {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}

@keyframes scale-in-ver-bottom {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        opacity: 1;
    }
}



@media screen and (max-width: 600px) {
    #gate {
        flex-direction: column;
        justify-content: space-evenly;
    }

    #btnList {
        flex-direction: column;
    }

    #contact iframe {
        width: 200px;
        height: 200px;

    }
}